

<style>
  body{
    background-color: rgb(187, 223, 195);
  }
</style>
<div><br></div>
<div class="container" style="text-align: center;">
  <H2 style="font-family: Georgia, 'Times New Roman', Times, serif;"> PROGRAMACION AVANZADA II</H2>
  <H3 style="font-family: Georgia, 'Times New Roman', Times, serif;"> INGENIERIA DE SISTEMAS</H3> 
  <H4 style="font-family: Georgia, 'Times New Roman', Times, serif;"> 2023</H4>
  <div id="carouselExampleIndicators" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/udenar.jpg" class="d-block w-100" alt="Wild Landscape"/>
      </div>
    </div>

  </div>

  <div>
    <br>
  </div>
</div>


<div class="container" style="text-align: center;">
  <H2 style="font-family: Georgia, 'Times New Roman', Times, serif;"> PROYECTO FINAL: TIENDA ONLINE</H2>
  <H3 style="font-family: Georgia, 'Times New Roman', Times, serif;"> Semestre 9</H3> 
  <H4 style="font-family: Georgia, 'Times New Roman', Times, serif;"> Presentado por: </H4>
  <div class="row justify-content-center">



    <div class="col-md-3">
      <div class="card">
        <img src="assets/fredy.jpg" class="card-img-top" width="520px" height="300px" alt="Fissure in Sandstone" />
        <div class="card-body">
          <h5 class="card-title">Fredilton Daniel Getial Torres</h5>
          <p class="card-text" id="disp_chocolatina">danielgetial@gmail.com</p>
          <p class="card-text" id="precio">ESTUDIANTE</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/gaon.jpeg"
             width="520px" height="300px" class="card-img-top" alt="Fissure in Sandstone" />
        <div class="card-body">
          <h5 class="card-title">Anderson Camilo Gaon</h5>
          <p class="card-text" id="disp_chocolatina">camilogaon@gmail.com</p>
          <p class="card-text" id="precio">ESTUDIANTE</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="assets/darwin.jpg" class="card-img-top" width="520px" height="300px" alt="Fissure in Sandstone" />
        <div class="card-body">
          <h5 class="card-title">Darwin Estiven Diaz Espinosa</h5>
          <p class="card-text" id="disp_chocolatina">darwinestivendiaz@gmail.com</p>
          <p class="card-text" id="precio">ESTUDIANTE</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <br>
  </div>
  
  <div class="row justify-content-center align-items-center">
    <div class="col-md-3"></div>
    
    <div class="col-md-3">
      <div class="card">
        <img src="assets/diego.jpg"
             width="500px" height="300px" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title">ING. Diego Villarreal</h5>
          <p class="card-text" id="disp_chocolatina"></p>
          <p class="card-text" id="precio">DOCENTE</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-3"></div>
  </div>
</div>
<div>
  <br>
</div>




