.custom-dropdown .dropdown-menu {
    right: 0;
    left: auto;
  }


  .disabled-link {
    pointer-events: none; /* Evita que se pueda hacer clic en el enlace */
    color: #999999; /* Cambia el color para indicar que está deshabilitado */
    cursor: not-allowed; /* Cambia el cursor al indicador de no permitido */
  }

  .ribbon {
  
    top: 0;
    left: 0;
    width: 100%;
    background-color: #38885a; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
  }

  #agro{
    font-size: 50px;
  }
  