


        <div class="container mt-4">
            <div class="alert alert-success" *ngIf="showAlert" role="alert">
                ¡Producto agregado al carrito!
            </div>

              

            <div class="row justify-content-between align-items-center mb-5">
              <div class="col">
                  <h1 class="text-success">Listado de Productos</h1>
              </div>
              <div class="col-auto">
                  <form class="d-flex" role="search" (ngSubmit)="buscarProducto()">
                      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" [(ngModel)]="terminoBusqueda">
                      <button class="btn btn-outline-success" type="submit">Buscar</button>
                  </form>
              </div>
          </div>
          
            <div class="row" >
              <div class="col-md-3 mb-4" *ngFor="let producto of productos">
                <div class="card" style="border-radius: 7%;">
                  <img class="card-img-top" src="{{producto.img_producto}}" width="60px" height="350px" alt="Imagen del producto">
                  <div class="card-body" >
                    <h5 class="card-title d-none">ID: {{ producto.id_producto }}</h5>
                    <h5 class="card-title">{{ producto.nombre_producto }}</h5>
                    <p class="card-text">{{ producto.descripcion_producto }}</p>
                    <p class="card-text">Precio: ${{ producto.precio_producto }}</p>
                    <a  class="btn btn-primary" (click)="pressbutton(producto.nombre_producto,producto.descripcion_producto,producto.precio_producto,producto.id_producto)">Agregar al Carrito  <i class="bi bi-cart-check"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

